<button
  [routerLink]="['/']"
  class="fixed top-4 left-4 text-purple-950 hover:text-white bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded w-30 duration-200"
  aria-label="Voltar"
  title="Voltar"
>
  Voltar
</button>

<main>
  <section
    id="title-container"
    class="flex flex-col gap-4 w-full max-w-screen-sm"
  >
    <h1 class="text-4xl font-bold text-white">Instructions</h1>
    <p class="text-white font-semibold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, possimus? Explicabo architecto, quis ipsam quos voluptatem rem nemo harum cupiditate.
    </p>
    <p class="text-white font-semibold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, possimus? Explicabo architecto, quis ipsam quos voluptatem rem nemo harum cupiditate.
    </p>
    <p class="text-white font-semibold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, possimus? Explicabo architecto, quis ipsam quos voluptatem rem nemo harum cupiditate.
    </p>
  </section>
</main>
