<button
  class="fixed top-4 left-4 text-purple-950 hover:text-white bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded w-20 duration-200"
  aria-label="Pausar"
  title="Pausar"
>
  Pausar
</button>

<button
  class="fixed bottom-4 left-1/2 text-purple-950 hover:text-white bg-yellow-700 text-white font-bold w-32 h-14 rounded"
  aria-label="Pausar"
  title="Pausar"
>
  {{ categorySelected }}
</button>

<div class="background-clock"></div>

<main class="w-screen flex flex-col items-center p-6">
  @if (gameStarted) { @if (counter === 0 ) {
    <div id="countdown">
      <h1 class="text-white text-2xl">{{ mainCounter }}</h1>
    </div>

  <div id="gameboard" class="flex gap-4">
    @for (item of buttonLetters; track $index) {
    <button
      class="bg-yellow-500 hover:bg-yellow-700 rounded-md h-32 w-32 p-4 text-4xl text-white"
      (click)="updateButtonLetter($index)"
    >
      {{ item }}
    </button>
    }
  </div>
  } @else {
  <div id="countdown">
    <h1 class="text-white text-9xl">{{ counter }}</h1>
  </div>
  } } @if (gameFinished) {
  <div id="popup-modal" class="fixed top-64 right-1/2 w-80 h-64">
    <div class="relative">
      <div class="relative bg-red-600 rounded-lg shadow-sm">
        <button
          type="button"
          class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="popup-modal"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
        <div class="p-4 md:p-5 text-center">
          <svg
            class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
            />
          </svg>
          <h3 class="mb-5 text-lg font-normal text-white">You Lose!</h3>
          <button
            data-modal-hide="popup-modal"
            type="button"
            class="text-white bg-yellow-500 hover:bg-yellow-700 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"
          >
            Play again?
          </button>
        </div>
      </div>
    </div>
  </div>
  }
</main>
